
<section class="about">
    <div class="hero">
        <img src="assets/img/libreriaFront.jpg" alt="Fachada de la librería" class="hero-img"/>
        <div class="hero-text">
            <h1>📖Librería El Refugio</h1>
            <p>Tu rincón literario desde 1998</p>
        </div>
    </div>
    <div class="content">
        <h2>Quiénes somos?</h2>
        <p>
            En Librería El Refugio creemos en el poder de los libros para transformas vidas.
            Fundada en el corazón de Buenos Aires en 1998, nuestra misión es acercar literatura de calidad a todos los lectores,
            desde los más chicos hasta los más exigentes.
        </p>
        <h2>Visitanos</h2>
        <p>
            📍 Av. Corrientes 1234, CABA <br />
            📞 (011) 4567-8910 <br />
            📧 contacto&#64;libreriarefugio.com.ar
        </p>
        <h2>Horario</h2>
        <p>
            🕘 Lunes a Sábado: 9:00 a 20:00<br />
            🕓 Domingo: Cerrado
        </p>
    </div>
</section> 
